@charset "utf-8";
/* CSS Document */
/*Layer 1*/
* {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #2d2d2d;
	font-size: 1em;
}
html, body {
    margin: 0px;
    padding: 0px;	
}
body {
	background-color: #f2f2f2;	
}
@media only screen and (max-width: 400px) {

*{ 
	font-size: 0.9em;
}
}
@media only screen and (min-width: 2500px) {
	
* {
	font-size: 1em;	
}
			
}
@media only screen and (max-width: 500px) {
#page-holder {
	width: 100%;
	margin: 0%;	
}	
}
/*Text Rules*/
h1, h2, h3, h4, h5 {
	text-align: center;
	color: #2d2d2d;
	margin-top: 10px;
	font-size: 1.3em;	
}
.dark-text {
	color: #2d2d2d;	
}
.company-quote dd {
	height: auto;
	width: 80%;
	margin-left: 10%;
	padding-top: 10%;
	text-align: center;
	color: #ffffff;	
}
.testimonials {
	text-align: center;
	height: 100%;
	width: 100%;
}
#white-text-header, p {
	color: #ffffff;
	height: auto;
	width: 80%;
	text-align: center;
	margin-left: 10%;	
}
#about-us p {
	width: 100%;
	position: relative;
	text-align: center;	
}
.menuLinkIcons {
	height: auto;	
}
#aboutUs {
	height: auto;
	width: 100%;
	background-color: #6a6a6a;
	top: 0;
}
/*Text Rules End*/




/*Container/Background/Holder Rules*/
.image-container {
	width: 100%;
	height: auto;
	box-shadow: 5px 5px 5px #707070;	
}
.company-quote-background {
	margin-top: -4%;
	padding-bottom: 5%;
	background-color: #9f9f9f;
}
#company-quote-background {
	background-color: #4d4d4d;
	padding-top: 5.5%;
	margin-bottom: 50px;	
}
.testimonials-holder {
	height: 450px;
	width: 100%;
	background-color: #f5f5f5;
}
.dark-background-holder {
	height: auto;
	width: 100%;
	border-top: 1px solid #111111;
	border-bottom: 1px solid #ffffff;
	background-color: #6a6a6a;	
}
.buttonHolder {
	padding-bottom: 5%;
	position: relative;	
}
#socialLinks {
	position: relative;
}
#about-us {
	height: 350px;
	padding-right: -150px;
}
/*Holders End*/

/*Button Rules*/

button {
	background-color: #3d3d3d;
	color: #ffffff;
	height: 80px;
	width: 70%;
	border: none;
	font-size: 1em;
	display: inline-block;
	margin: 1% 1% 1% 1%;
	left: 35%;
	position: relative;
	float: left;
	border: 1px solid #3d3d3d;
		
}
button:hover {
	cursor: pointer;
	background-color: #ffffff;
	border: 1px solid #3d3d3d;
	color: #3d3d3d;	
}
/*Button Ends*/

/*Image Rules*/
.banner-image {
	width: 100%;
	height: auto;	
}
.icon {
	height: auto;
	width: 100%;	
}
#menuIcon {
	height: auto;
	width: 60px;	
}
.personal-icon {
	height: auto;
	width: 15%;
	position: absolute;
	margin-left: 42.5%;	
}
.responsive-image {
	width: 100%;
	height: auto;	
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 30%;
	padding: 0% 1% 0% 1%;
}
/*GRID OF TWO*/
.span_1_of_2 {
	width: 40%;	
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

/*NAVBAR BEGINS*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #3d3d3d;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3d3d3d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #707070;
	
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*Navbar Ends*/



/*Gallery*/
#photoGalleryHidden {
	visibility: hidden;	
}
#photoGalleryVisible {
	visibility: visible;
	float: right;
	background-image: url(Images/Transparent%20Background%20Black.png);		
}
.thumbnail {
	height: auto;
	max-width: 100%;
	width: 100px;
}
#photo {
	list-style: none;
	display: inline-block;	
}
/*Specific images*/
#showButton {
	background-color: #3d3d3d;
	color: #ffffff;
	margin-left: 45%;	
}
/*Footer Rules*/
footer {
	position: relative;
	background: #3d3d3d;
	height: 150px;
	width: 100%;
	left: 0;
	border-top: 1px solid #ffffff;
}
footer a {
	display:inline; 
	float:left; 
	list-style:none; 
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -8px; 
	position:relative; 
	height: auto; 
	width: 17%;
	font-size: 0.9em;
	font-family: Trebuchet MS, Arial, Helvetica;
	padding: 15px 0px 0px 0px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}
/*Footer Ends*/
#aboutUs {
	display: none;	
}
#aboutUs:target {
	display: block;	
}
.link-image {
	height: 30px;
	width: auto;	
}
a {
	text-decoration: none;
	color: #ffffff;
}
a:hover {
	color: #111111;
}
